html, body {
    height: 100%;
}

.container-fluid {
  min-height: 100%;
  height: 100%;
}

.preview-container {
  margin: 0 auto;
  height: 90%;

  #preview {
    width: 100%;
    height: 100%;
  }
}

.display-data {
  border-radius: 0;
}
