---
title: QR Code with AR
---
<table class="table">
  <tbody>
  <tr>
    <td><%= link_to 'Sample 1', '/sample1.html' %></td>
    <td>Working
      with <%= link_to 'https://github.com/schmich/instascan', 'https://github.com/schmich/instascan', target: :_blank %></td>
  </tr>
  </tbody>
</table>
