<script src="javascripts/instascan.min.js"></script>
<script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>

<div class="preview-container border border-primary">
  <video id="preview" class="img-fluid"></video>
</div>
<div class="alert alert-dismissible alert-info display-data">
  Date : <span id="qrcode-data">No Data Detected</span>
  <span class="float-right"><%= link_to 'Index', '/index.html' %></span>
</div>

<a-scene>
  <a-entity scale=".5 .5 .5">
    <a-entity gltf-model="images/Duck.gltf" position="0 1.25 -5">
    </a-entity>
  </a-entity>
</a-scene>

<script type="text/javascript">
  scanner = new Instascan.Scanner({video: document.getElementById('preview'), mirror: false});
  scanner.addListener('scan', function (content) {
    console.log(content);
    document.getElementById('qrcode-data').innerHTML = content;
  });
  Instascan.Camera.getCameras().then(function (cameras) {
    if (cameras.length > 0) {
      scanner.start(cameras[1]);
    } else {
      console.error('No cameras found.');
      document.getElementById('qrcode-data').innerHTML = 'No cameras found.'
    }
  }).catch(function (e) {
    console.error(e);
    document.getElementById('qrcode-data').innerHTML = e.message
  });
</script>
