---
title: threejs + QR Code + WebCam background
---

<style>

</style>

<div id="three-scene-card" class="card border-primary w-100 h-100">
  <div class="card-header">threejs.org creating-a-scene + QR Code</div>
  <div class="card-body" id="three-canvas">
  </div>
  <div class="card-footer">
    Data :
    <scan id="qrcode-data">No data detected</scan>
  </div>
</div>

<script src="javascripts/instascan.min.js"></script>
<script src="javascripts/three.js"></script>
<script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
<script src="https://threejs.org/examples/js/loaders/GLTFLoader.js"></script>

<script type="text/javascript">
  sceneWidth = $('#three-canvas').width();
  sceneHeight = $('#three-canvas').height();

  var scene = new THREE.Scene();
  var camera = new THREE.PerspectiveCamera(75, sceneWidth / sceneHeight, 1, 1000);
  var renderer = new THREE.WebGLRenderer({alpha: true});
  renderer.setClearAlpha(0.0);
  renderer.gammaOutput = true;
  //renderer.setClearColor(new THREE.Color('lightgrey'), 1)
  renderer.setSize(sceneWidth, sceneHeight);
  $('#three-canvas').html(renderer.domElement);

  var controls = new THREE.OrbitControls(camera);
  controls.update();

  //TODO need to learn
  /*var path = 'https://raw.githubusercontent.com/mrdoob/three.js/dev/examples/textures/cube/Bridge2/';
  var format = '.jpg';
  var envMap = new THREE.CubeTextureLoader().load([
    path + 'posx' + format, path + 'negx' + format,
    path + 'posy' + format, path + 'negy' + format,
    path + 'posz' + format, path + 'negz' + format
  ]);
  //scene.background = envMap;*/

  camera.position.z = 5;
  var old_content = '';
  scanner = new Instascan.Scanner({mirror: false});
  scanner.addListener('scan', function (content) {
    console.log(content);
    document.getElementById('qrcode-data').innerHTML = content;
    clearScene(scene);
    /*  setTimeout(function () {
      }, 5000);*/
    objectLoader(content);
  });
  Instascan.Camera.getCameras().then(function (cameras) {
    if (cameras.length > 0) {
      scanner.start(cameras[1]);
    } else {
      console.error('No cameras found.');
      document.getElementById('qrcode-data').innerHTML = 'No cameras found.'
    }
  }).catch(function (e) {
    //console.error(e);
    document.getElementById('qrcode-data').innerHTML = e.message
  });

  var animate = function () {
    requestAnimationFrame(animate);
    controls.update();
    renderer.render(scene, camera);
  };
  animate();

  function objectLoader(qr_code_value) {
    objs = {
      'duck': {
        type: 'gltf',
        url: 'https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Duck/glTF/Duck.gltf'
      },
      'cesiumman': {
        type: 'gltf',
        url: 'https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/CesiumMan/glTF/CesiumMan.gltf'
      },
      'blue': {
        type: 'object3D'
      },
      'red': {
        type: 'object3D'
      },
      'green': {
        type: 'object3D'
      }
    };

    if (objs[qr_code_value]['type'] == 'gltf') {
      //TODO need to learn
      light = new THREE.HemisphereLight(0xbbbbff, 0x444422);
      light.position.set(0, 1, 0);
      scene.add(light);

      var loader = new THREE.GLTFLoader();
      loader.load(
        // resource URL
        objs[qr_code_value]['url'],
        // called when the resource is loaded
        function (gltf) {
          /*gltf.scene.traverse(function (child) {
            if (child.isMesh) {
              child.material.envMap = envMap;
            }
          });*/
          scene.add(gltf.scene);
        },
        // called when loading is in progresses
        function (xhr) {
          console.log(xhr.loaded);
        },
        // called when loading has errors
        function (error) {
          console.log('An error happened');
        }
      );
    } else if (objs[qr_code_value]['type'] == 'object3D') {
      var geometry = new THREE.BoxGeometry(2, 2, 2);
      var material = new THREE.MeshBasicMaterial({color: qr_code_value});
      var cube = new THREE.Mesh(geometry, material);
      scene.add(cube);
    } else {
      alert('no data');
    }

    animate();
  }

  function clearScene(scene) {
    var objsToRemove = _.rest(scene.children, 0);
    _.each(objsToRemove, function (object) {
      scene.remove(object);
    });
  }

  /*window.addEventListener('resize', function () {
    renderer.setSize(sceneWidth, sceneHeight);
    camera.aspect = sceneWidth / sceneHeight;
    camera.updateProjectionMatrix();
  });*/
</script>
