---
title: jsartoolkit5
layout: false
---

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <!-- Use the title from a page's frontmatter if it has one -->
  <title>jsartoolkit5</title>
  <link rel="shortcut icon" href="about:blank">
  <style>
    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;
      overflow-x: hidden;
    }

    .portrait canvas {
      transform-origin: 0 0;
      transform: rotate(-90deg) translateX(-100%);
    }

    .desktop canvas {
      transform: scale(-1, 1);
    }
  </style>
</head>
<body>

<script src="javascripts/artoolkit.min.js"></script>
<script src="javascripts/three.js"></script>
<script src="javascripts/three.OrbitControls.js"></script>
<script src="javascripts/artoolkit.three.js"></script>
 <script src="javascripts/instascan.min.js"></script>
<script type="text/javascript">
  try {
    window.ARThreeOnLoad = function () {
      ARController.getUserMediaThreeScene({
        maxARVideoSize: 640, cameraParam: 'images/camera_para-iPhone 5 rear 640x480 1.0m.dat',
        onSuccess: function (arScene, arController, arCamera) {
          document.body.className = arController.orientation;
          var renderer = new THREE.WebGLRenderer({antialias: true});
          if (arController.orientation === 'portrait') {
            var w = (window.innerWidth / arController.videoHeight) * arController.videoWidth;
            var h = window.innerWidth;
            renderer.setSize(w, h);
            renderer.domElement.style.paddingBottom = (w - h) + 'px';
          } else {
            if (/Android|mobile|iPad|iPhone/i.test(navigator.userAgent)) {
              renderer.setSize(window.innerWidth, (window.innerWidth / arController.videoWidth) * arController.videoHeight);
            } else {
              renderer.setSize(arController.videoWidth, arController.videoHeight);
              document.body.className += ' desktop';
            }
          }
          document.body.insertBefore(renderer.domElement, document.body.firstChild);
          var rotationV = 0;
          var rotationTarget = 0;
          renderer.domElement.addEventListener('click', function (ev) {
            ev.preventDefault();
            rotationTarget += 1;
          }, false);
          var geometry = new THREE.BoxGeometry(2, 2, 2);
          var material = new THREE.MeshBasicMaterial({
            color: 'red',
            opacity: 0.7,
            transparent: true
          });
          var cube = new THREE.Mesh(geometry, material);
          cube.position.z = 0.5;
          arController.loadMarker('images/marker16.pat', function (markerId) {
            var markerRoot = arController.createThreeMarker(markerId);
            markerRoot.add(cube);
            arScene.scene.add(markerRoot);
          });
          var tick = function () {
            arScene.process();
            rotationV += (rotationTarget - cube.rotation.z) * 0.05;
            cube.rotation.z += rotationV;
            rotationV *= 0.8;
            arScene.renderOn(renderer);
            requestAnimationFrame(tick);
          };
          tick();
          scanner = new Instascan.Scanner({mirror: false});
          scanner.addListener('scan', function (content) {
            console.log(content);
            cube.material.color = new THREE.Color(content);
          });
          Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
              scanner.start(cameras[0]);
            } else {
              alert('No cameras found.');
            }
          }).catch(function (e) {
            alert(e.message);
          });
        }
      });
      delete window.ARThreeOnLoad;
    };
    if (window.ARController && ARController.getUserMediaThreeScene) {
      ARThreeOnLoad();
    }
  } catch (err) {
    alert(err);
  }
</script>
</body>
</html>
