---
title: AR.js + jsQR
layout: false
---

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <!-- Use the title from a page's frontmatter if it has one -->
  <title>AR.js + jsQR</title>
  <link rel="shortcut icon" href="about:blank">
  <link href="stylesheets/bootstrap.css" rel="stylesheet"/>
  <link href="stylesheets/site.css" rel="stylesheet"/>
  <script src="javascripts/jquery-3.3.1.js"></script>
  <script src="javascripts/underscore.js"></script>
  <script src="javascripts/site.js"></script>
</head>
<body style="margin : 0px; overflow: hidden; ">

<a-scene embedded arjs>
  <a-box position="0 0 0" rotation="0 45 0" material='opacity: 0.8;' color="#4CC3D9">

  </a-box>
  <a-marker-camera preset='hiro'></a-marker-camera>
</a-scene>
<canvas id='mycanvas' hidden></canvas>

<script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
<script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.5.5/aframe/build/aframe-ar.js"></script>
<script src="https://cozmo.github.io/jsQR/jsQR.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    try {


    } catch (err) {
      alert(err)
    }

  });
</script>
</body>
</html>
